<template>
    <layout menu-name="Home">
        <h1>Teacher</h1>

        {{$page}}

    </layout>
</template>
<script>
import Layout from "../Layout";

export default {
    components: {
        Layout
    },
    data() {
        return {}
    },
    methods: {

    },
}
</script>

