<template>
    <layout menu-name="Schools">
        <b-row align-h="between" align-v="center">
            <b-col>
                <h2>Schools</h2>
            </b-col>
            <b-col>
                <b-button variant="primary" style="float: right" @click="create">New</b-button>
            </b-col>
        </b-row>

        <b-modal size="lg" ref="my-modal" hide-footer :title="modalTitle">
            <form @submit.prevent="onSubmit" @reset.prevent="onReset">
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Name"
                            label-for="input-name">
                            <b-form-input id="input-name"
                                          v-model="form.name"
                                          @input="$v.form.name.$touch()"
                                          :state="$v.form.name.$dirty ? !$v.form.name.$error : null"
                                          placeholder="Name"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.name.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <!--                            <b-form-valid-feedback :state="$v.form.name.$dirty ? !$v.form.name.$error : null">-->
                            <!--                                Looks Good.-->
                            <!--                            </b-form-valid-feedback>-->
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Address"
                            label-for="input-address">
                            <b-form-input id="input-address"
                                          v-model="form.address"
                                          @input="$v.form.address.$touch()"
                                          :state="$v.form.address.$dirty ? !$v.form.address.$error : null"
                                          placeholder="Name"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.address.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                    <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                </b-row>

                <b-row align-h="end" style="padding-left: 1rem; padding-right: 1rem">
                    <b-button class="mr-1" @click="cancel" variant="secondary">Cancel</b-button>
                    <b-button variant="primary" @click="onSubmit('School')">Save</b-button>
                </b-row>
            </form>
        </b-modal>

        <b-row class="mt-1">
            <b-table :items="this.$page.props.schools"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     outlined head-variant="light">

                <template #cell(actions)="row">
                    <b-button size="sm" variant="warning" @click="edit(row.item)">Edit</b-button>
                    <b-button size="sm" variant="danger" @click="remove(row.item.id, 'School')">Remove</b-button>
                </template>
            </b-table>
        </b-row>

        <div class="mt-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                align="center"
            ></b-pagination>
        </div>

    </layout>
</template>
<script>
import Layout from "../Layout";
import {required, alphaNum} from 'vuelidate/lib/validators'
import _ from 'lodash';
import BaseCrud from "../BaseCrud";

export default {
    extends: BaseCrud,
    components: {
        Layout
    },
    data() {
        return {
            url: '/schools',
            form: {
                name: '',
                address: ''
            },
            fields: ['name', 'address', 'actions'],
            mode: '',
            perPage: 6,
            currentPage: 1
        }
    },
    validations: {
        form: {
            name: {
                required
            },
            address: {
                required
            }
        }
    },
    computed: {
        totalRows() {
            return this.$page.props.schools.length
        },
        modalTitle() {
            if (this.mode === 0) {
                return 'New School';
            } else {
                return 'Edit School';
            }
        },
    },
    methods: {
    },
    mounted() {
    }
}
</script>
