<template>
    <layout menu-name="Assignments">
        <b-row align-h="between" align-v="center">
            <b-col>
                <h2>Assignments</h2>
            </b-col>
            <b-col>
                <b-button variant="primary" style="float: right" @click="create">New</b-button>
            </b-col>
        </b-row>

        <b-modal size="lg" ref="my-modal" hide-footer :title="modalTitle">
            <form @submit.prevent="onSubmit" @reset.prevent="onReset">
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Title"
                            label-for="input-title">
                            <b-form-input id="input-title"
                                          v-model="form.title"
                                          @input="$v.form.title.$touch()"
                                          :state="$v.form.title.$dirty ? !$v.form.title.$error : null"
                                          placeholder="Title"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.title.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <!--                            <b-form-valid-feedback :state="$v.form.name.$dirty ? !$v.form.name.$error : null">-->
                            <!--                                Looks Good.-->
                            <!--                            </b-form-valid-feedback>-->
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Instructions"
                            label-for="input-instructions">
                            <b-form-input id="input-instructions"
                                          v-model="form.instructions"
                                          @input="$v.form.instructions.$touch()"
                                          :state="$v.form.instructions.$dirty ? !$v.form.instructions.$error : null"
                                          placeholder="Instructions"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.instructions.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="Resource"
                            label-for="input-resource">
                            <b-form-file id="input-resource"
                                         accept=".pdf"
                                         v-model="form.resource"
                                         placeholder="Choose a pdf file or drop it here..."
                            ></b-form-file>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="Start Date"
                            label-for="input-start-date">
                            <b-form-datepicker
                                id="input-start-date"
                                v-model="form.start_date"
                                @input="$v.form.start_date.$touch()"
                                :state="$v.form.start_date.$dirty ? !$v.form.start_date.$error : null"
                            ></b-form-datepicker>
                            <b-form-invalid-feedback v-if="!$v.form.start_date.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="Start Time"
                            label-for="input-start-time">
                            <b-form-timepicker
                                id="input-start-time"
                                now-button
                                v-model="form.start_time"
                                @input="$v.form.start_time.$touch()"
                                :state="$v.form.start_time.$dirty ? !$v.form.start_time.$error : null"
                            ></b-form-timepicker>
                            <b-form-invalid-feedback v-if="!$v.form.start_time.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group
                            label="End Date"
                            label-for="input-end-date">
                            <b-form-datepicker
                                id="input-start-end-date"
                                v-model="form.end_date"
                                @input="$v.form.end_date.$touch()"
                                :state="$v.form.end_date.$dirty ? !$v.form.end_date.$error : null"
                            ></b-form-datepicker>
                            <b-form-invalid-feedback v-if="!$v.form.end_date.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="End Time"
                            label-for="input-end-time">
                            <b-form-timepicker
                                id="input-end-time"
                                now-button
                                v-model="form.end_time"
                                @input="$v.form.end_time.$touch()"
                                :state="$v.form.end_time.$dirty ? !$v.form.end_time.$error : null"
                            ></b-form-timepicker>
                            <b-form-invalid-feedback v-if="!$v.form.end_time.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="Points"
                            label-for="input-points">
                            <b-form-input id="input-points"
                                          v-model="form.points"
                                          @input="$v.form.points.$touch()"
                                          :state="$v.form.points.$dirty ? !$v.form.points.$error : null"
                                          placeholder="Points"></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.points.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="Class"
                            label-for="input-class">
                            <b-form-select id="input-class"
                                           :options="classes"
                                           v-model="form.class"
                                           @input="$v.form.class.$touch()"
                                           :state="$v.form.class.$dirty ? !$v.form.class.$error : null"
                                           placeholder="Class"></b-form-select>
                            <b-form-invalid-feedback v-if="!$v.form.class.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                {{ form }}

                <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                    <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                </b-row>

                <b-row align-h="end" style="padding-left: 1rem; padding-right: 1rem">
                    <b-button class="mr-1" @click="cancel" variant="secondary">Cancel</b-button>
                    <b-button variant="primary" @click="onSubmit('Assignment')">Save</b-button>
                </b-row>
            </form>
        </b-modal>

        <b-row class="mt-1">
            <b-table :items="this.$page.props.assignments"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     outlined head-variant="light">

                <template #cell(class)="row">
                    {{ row.item.class.name }}
                </template>

                <template #cell(actions)="row">
                    <b-button size="sm" variant="warning" @click="edit(row.item)">Edit</b-button>
                    <b-button size="sm" variant="danger" @click="remove(row.item.id, 'Assignment')">Remove</b-button>
                </template>
            </b-table>
        </b-row>

        <div class="mt-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                align="center"
            ></b-pagination>
        </div>

    </layout>
</template>
<script>
import Layout from "../Layout";
import {required} from 'vuelidate/lib/validators'
import BaseCrud from "../BaseCrud";

export default {
    extends: BaseCrud,
    components: {
        Layout
    },
    data() {
        return {
            url: '/assignments',
            form: {
                title: '',
                instructions: '',
                resource: '',
                start_date: '',
                start_time: '',
                end_date: '',
                end_time: '',
                points: '',
                class: ''
            },
            classes: [],
            fields: ['title', 'instructions', 'start_date', 'end_date', 'points', 'class', 'actions'],
            mode: '',
            perPage: 6,
            currentPage: 1
        }
    },
    validations: {
        form: {
            title: {
                required
            },
            instructions: {
                required
            },
            start_date: {
                required
            },
            start_time: {
                required
            },
            end_date: {
                required
            },
            end_time: {
                required
            },
            points: {
                required
            },
            class: {
                required
            },
        }
    },
    computed: {
        totalRows() {
            return this.$page.props.assignments.length
        },
        modalTitle() {
            if (this.mode === 0) {
                return 'New Assignment';
            } else {
                return 'Edit Assignment';
            }
        },
    },
    methods: {
        _beforeEdit(form) {
            if (form.class) {
                form.class = form.class.value;
            }

            var sd = form.start_date.split(" ");
            var ed = form.end_date.split(" ");

            form.start_date = sd[0];
            form.end_date = ed[0];

            form.start_time = sd[1];
            form.end_time = ed[1];

            return form;
        },
        _beforeSubmit(form) {
            form.start_date = form.start_date + ' ' + form.start_time;
            form.end_date = form.end_date + ' ' + form.end_time;

            form.class_id = form.class

            return form;
        },
    },
    mounted() {
        if (this.$page.props.classes) {
            this.classes = this.$page.props.classes
        }
    }
}
</script>
