<template>
    <layout menu-name="School Years">
        <b-row align-h="between" align-v="center">
            <b-col>
                <h2>School Years</h2>
            </b-col>
            <b-col>
                <b-button variant="primary" style="float: right" @click="create">New</b-button>
            </b-col>
        </b-row>

        <b-modal size="lg" ref="my-modal" hide-footer :title="modalTitle">
            <form @submit.prevent="onSubmit" @reset.prevent="onReset">
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Name"
                            label-for="input-name">
                            <b-form-input id="input-name"
                                          v-model="form.name"
                                          @input="$v.form.name.$touch()"
                                          :state="$v.form.name.$dirty ? !$v.form.name.$error : null"
                                          placeholder="Name"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.name.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <!--                            <b-form-valid-feedback :state="$v.form.name.$dirty ? !$v.form.name.$error : null">-->
                            <!--                                Looks Good.-->
                            <!--                            </b-form-valid-feedback>-->
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Start Date"
                            label-for="input-start-date">

                            <b-form-datepicker
                                id="input-start-date"
                                v-model="form.start_date"
                                @input="$v.form.start_date.$touch()"
                                :state="$v.form.start_date.$dirty ? !$v.form.start_date.$error : null"
                            ></b-form-datepicker>
                            <b-form-invalid-feedback v-if="!$v.form.start_date.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="End Date"
                            label-for="input-end-date">
                            <b-form-datepicker
                                id="input-start-end-date"
                                v-model="form.end_date"
                                @input="$v.form.end_date.$touch()"
                                :state="$v.form.end_date.$dirty ? !$v.form.end_date.$error : null"
                            ></b-form-datepicker>
                            <b-form-invalid-feedback v-if="!$v.form.end_date.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                    <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                </b-row>

                <b-row align-h="end" style="padding-left: 1rem; padding-right: 1rem">
                    <b-button class="mr-1" @click="cancel" variant="secondary">Cancel</b-button>
                    <b-button variant="primary" @click="onSubmit('School Year')">Save</b-button>
                </b-row>
            </form>
        </b-modal>

        <b-row class="mt-1">
            <b-table :items="this.$page.props.years"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     outlined head-variant="light">

                <template #cell(actions)="row">
                    <b-button size="sm" variant="warning" @click="edit(row.item)">Edit</b-button>
                    <b-button size="sm" variant="danger" @click="remove(row.item.id, 'School Year')">Remove</b-button>
                </template>
            </b-table>
        </b-row>

        <div class="mt-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                align="center"
            ></b-pagination>
        </div>

    </layout>
</template>
<script>
import Layout from "../Layout";
import {required} from 'vuelidate/lib/validators'
import BaseCrud from "../BaseCrud";

export default {
    extends: BaseCrud,
    components: {
        Layout
    },
    data() {
        return {
            url: '/years',
            form: {
                name: '',
                start_date: '',
                end_date: '',
            },
            fields: ['name', 'start_date', 'end_date', 'actions'],
            mode: '',
            perPage: 6,
            currentPage: 1
        }
    },
    validations: {
        form: {
            name: {
                required
            },
            start_date: {
                required
            },
            end_date: {
                required
            }
        }
    },
    computed: {
        totalRows() {
            return this.$page.props.years.length
        },
        modalTitle() {
            if (this.mode === 0) {
                return 'New School Year';
            } else {
                return 'Edit School Year';
            }
        },
    },
    methods: {},
    mounted() {
    }
}
</script>
