<template>
    <layout menu-name="Classes">
        <b-row align-h="between" align-v="center">
            <b-col>
                <h2>Classes</h2>
            </b-col>
            <b-col>
                <b-button variant="primary" style="float: right" @click="create">New</b-button>
            </b-col>
        </b-row>

        <b-modal size="lg" ref="my-modal" hide-footer :title="modalTitle">
            <form @submit.prevent="onSubmit" @reset.prevent="onReset">
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Name"
                            label-for="input-name">
                            <b-form-input id="input-name"
                                          v-model="form.name"
                                          @input="$v.form.name.$touch()"
                                          :state="$v.form.name.$dirty ? !$v.form.name.$error : null"
                                          placeholder="Name"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.name.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <!--                            <b-form-valid-feedback :state="$v.form.name.$dirty ? !$v.form.name.$error : null">-->
                            <!--                                Looks Good.-->
                            <!--                            </b-form-valid-feedback>-->
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="Code"
                            label-for="input-code">
                            <b-form-input id="input-code"
                                          v-model="form.code"
                                          @input="$v.form.code.$touch()"
                                          :state="$v.form.code.$dirty ? !$v.form.code.$error : null"
                                          placeholder="Code"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.code.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.form.code.alphaNum">
                                This field only accepts alphanumeric characters.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="Career"
                            label-for="input-career">
                            <b-form-select id="input-career"
                                           :options="careers"
                                           v-model="form.career"
                                           @input="$v.form.career.$touch()"
                                           :state="$v.form.career.$dirty ? !$v.form.career.$error : null"
                                           placeholder="Career"></b-form-select>
                            <b-form-invalid-feedback v-if="!$v.form.career.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="School Year"
                            label-for="input-year">
                            <b-form-select id="input-year"
                                           :options="years"
                                           v-model="form.year"
                                           @input="$v.form.year.$touch()"
                                           :state="$v.form.year.$dirty ? !$v.form.year.$error : null"
                                           placeholder="School Year"></b-form-select>
                            <b-form-invalid-feedback v-if="!$v.form.year.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="Prerequisite"
                            label-for="input-prerequisite">
                            <b-form-select
                                :options="classes"
                                v-model="form.prerequisite"
                                placeholder="Prerequisite"></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                    <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                </b-row>

                <b-row align-h="end" style="padding-left: 1rem; padding-right: 1rem">
                    <b-button class="mr-1" @click="cancel" variant="secondary">Cancel</b-button>
                    <b-button variant="primary" @click="onSubmit('Class')">Save</b-button>
                </b-row>
            </form>
        </b-modal>

        <b-row class="mt-1">
            <b-table :items="this.$page.props.classes"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     outlined head-variant="light">

                <template #cell(career)="row">
                    {{ row.item.career.name }}
                </template>

                <template #cell(actions)="row">
                    <b-button size="sm" variant="warning" @click="edit(row.item)">Edit</b-button>
                    <b-button size="sm" variant="danger" @click="remove(row.item.id, 'Class')">Remove</b-button>
                </template>
            </b-table>
        </b-row>

        <div class="mt-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                align="center"
            ></b-pagination>
        </div>

    </layout>
</template>
<script>
import Layout from "../Layout";
import {required, alphaNum} from 'vuelidate/lib/validators'
import _ from 'lodash';
import BaseCrud from "../BaseCrud";

export default {
    extends: BaseCrud,
    components: {
        Layout
    },
    data() {
        return {
            url: '/classes',
            form: {
                name: '',
                code: '',
                career: '',
                year: '',
                prerequisite: ''
            },
            classes: [],
            careers: [],
            years: [],
            fields: ['name', 'code', 'career', 'actions'],
            mode: '',
            perPage: 6,
            currentPage: 1
        }
    },
    validations: {
        form: {
            name: {
                required
            },
            code: {
                required,
                alphaNum
            },
            career: {
                required
            },
            year: {
                required
            },
        }
    },
    computed: {
        totalRows() {
            return this.$page.props.classes.length
        },
        modalTitle() {
            if (this.mode === 0) {
                return 'New Class';
            } else {
                return 'Edit Class';
            }
        },
    },
    methods: {
        _beforeEdit(form) {
            console.log(form);
            if (form.career) {
                form.career = form.career.value
            }
            if (form.year) {
                form.year = form.years.value;
            }
            if (form.prerequisite) {
                form.prerequisite = form.prerequisite.value;
            }
            return form;
        },
        _beforeSubmit(form) {
            form.career_id = form.career;
            form.school_year_id = form.year;
            form.prerequisite_id = form.prerequisite;

            return form;
        }

    },
    mounted() {
        if (this.$page.props.classes) {
            this.classes = this.$page.props.classes
        }
        if (this.$page.props.careers) {
            this.careers = this.$page.props.careers
        }
        if (this.$page.props.years) {
            this.years = this.$page.props.years
        }
    }
}
</script>
