// Body
$body-bg: #f6f6f6;

// Typography
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$school-dark: #1D263B;
$school-darkblue: #12355B;
$school-blue: #4392F1;
$school-orange: #FA7E61;
$school-lightgray: #DFE0E2;
