body, html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: $body-bg !important;
}

//login
.login-div {
    position: absolute;
    width: 30%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thin-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: 0.50rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
