<template>
    <layout menu-name="Users">
        <b-row align-h="between" align-v="center">
            <b-col>
                <h2>Users</h2>
            </b-col>
            <b-col>
                <b-button variant="primary" style="float: right" @click="create">New</b-button>
            </b-col>
        </b-row>

        <b-modal size="lg" ref="my-modal" hide-footer :title="modalTitle">
            <form @reset.prevent="onReset">
                <b-row>
                    <b-col>
                        <b-form-group
                            label="Name"
                            label-for="input-name">
                            <b-form-input id="input-name"
                                          v-model="form.name"
                                          @input="$v.form.name.$touch()"
                                          :state="$v.form.name.$dirty ? !$v.form.name.$error : null"
                                          placeholder="Name"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.name.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <!--                            <b-form-valid-feedback :state="$v.form.name.$dirty ? !$v.form.name.$error : null">-->
                            <!--                                Looks Good.-->
                            <!--                            </b-form-valid-feedback>-->
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="Email"
                            label-for="input-email">
                            <b-form-input id="input-email"
                                          v-model="form.email"
                                          @input="$v.form.email.$touch()"
                                          :state="$v.form.email.$dirty ? !$v.form.email.$error : null"
                                          placeholder="Email"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.email.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.form.email.email">
                                Incorrect Email Format.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-if="mode === 0">
                    <b-col>
                        <b-form-group
                            label="Password"
                            label-for="input-password">
                            <b-form-input id="input-password"
                                          v-model="form.password"
                                          @input="$v.form.password.$touch()"
                                          :state="$v.form.password.$dirty ? !$v.form.password.$error : null"
                                          type="password"
                                          placeholder="Password"
                                          trim></b-form-input>
                        </b-form-group>
                        <b-form-invalid-feedback v-if="!$v.form.password.required">
                            This field is required.
                        </b-form-invalid-feedback>
                    </b-col>
                    <b-col>
                        <b-form-group
                            label="Password Confirmation"
                            label-for="input-password-confirm">
                            <b-form-input id="input-password-confirm"
                                          v-model="form.password_confirmation"
                                          @input="$v.form.password_confirmation.$touch()"
                                          :state="$v.form.password_confirmation.$dirty ? !$v.form.password_confirmation.$error : null"
                                          type="password"
                                          placeholder="Password Confirmation"
                                          trim></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.form.password_confirmation.required">
                                This field is required.
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.form.password_confirmation.sameAsPassword">
                                Passwords do not match.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-button v-if="mode === 1"
                          class="mb-1"
                          :class="visible ? null : 'collapsed'"
                          :aria-expanded="visible ? 'true' : 'false'"
                          aria-controls="collapse-4"
                          @click="visible = !visible">
                    Change Password
                </b-button>
                <b-collapse v-model="visible" class="mt-2">
                    <b-form-group
                        label="New Password"
                        label-for="input-password-edit">
                        <b-form-input id="input-password-edit"
                                      v-model="form.password_edit"
                                      @input="$v.form.password_edit.$touch()"
                                      :state="$v.form.password_edit.$dirty ? !$v.form.password_edit.$error : null"
                                      type="password"
                                      placeholder="New Password"
                                      trim></b-form-input>
                    </b-form-group>
                    <b-form-invalid-feedback v-if="!$v.form.password_edit.required">
                        This field is required.
                    </b-form-invalid-feedback>
                </b-collapse>

                <b-row>
                    <b-col>
                        <b-form-group
                            label="User Role"
                            label-for="input-role">

                            <b-form-select
                                :options="roles"
                                v-model="form.role"
                                @input="$v.form.role.$touch()"
                                :state="$v.form.role.$dirty ? !$v.form.role.$error : null"
                                placeholder="User Role"></b-form-select>
                            <b-form-invalid-feedback v-if="!$v.form.role.required">
                                This field is required.
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                    <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                </b-row>

                <b-row align-h="end" style="padding-left: 1rem; padding-right: 1rem">
                    <b-button class="mr-1" @click="cancel" variant="secondary">Cancel</b-button>
                    <b-button variant="primary" @click="onSubmit('User')">Save</b-button>
                </b-row>
            </form>
        </b-modal>

        <b-row class="mt-1">
            <b-table :items="this.$page.props.users"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     outlined head-variant="light">

                <template #cell(roles)="row">
                <span v-for="role in row.item.roles">
                    {{ role.name }}
                </span>
                </template>

                <template #cell(actions)="row">
                    <b-button size="sm" variant="warning" @click="edit(row.item)">Edit</b-button>
                    <b-button size="sm" variant="danger" @click="remove(row.item.id, 'User')">Remove</b-button>
                </template>
            </b-table>
        </b-row>

        <div class="mt-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                align="center"
            ></b-pagination>
        </div>

    </layout>
</template>
<script>
import Layout from "../Layout";
import {required, requiredIf, email, sameAs} from 'vuelidate/lib/validators'
import BaseCrud from "../BaseCrud";

export default {
    extends: BaseCrud,
    components: {
        Layout
    },
    data() {
        return {
            url: '/users',
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                password_edit: '',
                role: ''
            },
            roles: [],
            fields: ['name', 'email', 'roles', 'actions'],
            mode: '',
            visible: false,
            perPage: 6,
            currentPage: 1
        }
    },
    validations: {
        form: {
            name: {
                required
            },
            email: {
                required,
                email
            },
            password: {
                required: requiredIf(function (pass) {
                    return !this.form.id
                }),
            },
            password_confirmation: {
                required: requiredIf(function (pass) {
                    return !this.form.id
                }),
                sameAsPassword: sameAs('password')
            },
            role: {
                required
            },
            password_edit: {
                required: requiredIf(function (pass) {
                    return this.form.id && this.visible
                }),
            }
        }
    },
    computed: {
        totalRows() {
            return this.$page.props.users.length
        },
        modalTitle() {
            if (this.mode === 0) {
                return 'New User';
            } else {
                return 'Edit User';
            }
        },
    },
    methods: {
        _beforeEdit(form) {
            if (form.roles.length > 0) {
                form.role = form.roles[0]['id'];
            }

            return form;
        },
    },
    mounted() {
        if (this.$page.props.roles) {
            this.roles = this.$page.props.roles
        }
    }
}
</script>
