<template>
    <div>
        <b-navbar variant="dark" type="dark">
            <b-navbar-brand>Denver Public Schools</b-navbar-brand>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template #button-content>
                        {{ $page.props.auth.name }}
                    </template>
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-navbar>

        <b-navbar style="background-color: #4392F1" type="light">
            <b-navbar-nav>
                <span v-for="(perm, index) in perms" :key="index">
                    <b-nav-item :active="getActive(perm, index)">
                        <inertia-link class="nav-link" style="padding: 0" :href="perm.url">{{ perm.name }}</inertia-link>
                    </b-nav-item>
                </span>
            </b-navbar-nav>
        </b-navbar>

        <b-container class="mt-3">
            <slot></slot>
        </b-container>

    </div>
</template>
<script>
export default {

    name: 'layout',
    data() {
        return {
            role: '',
            perms: []
        }
    },
    props: {
        menuName: {
            required: true,
            type: String,
            default: ''
        },
    },
    watch: {
        title(title) {
            this.updatePageTitle(title)
        },
    },
    methods: {
        getActive(perm, index) {
            if (this.menuName === this.perms[index].name && this.menuName === perm.name) {
                return true;
            }
            return false;
        },
        logout() {
            this.$inertia.post('/logout');
        },
        updatePageTitle(title) {
            document.title = title ? `${title} | ${this.$page.props.app.name}` : this.$page.props.app.name
        },
    },
    mounted() {
        this.updatePageTitle(this.title);
        if (this.$page.props.auth) {
            this.role = this.$page.props.auth.role
            this.perms = this.$page.props.auth.perms
        }

    }
}

</script>
