<template>
    <body style="background: #12355B !important;">
    <b-container style="height: 100%">

        <div class="login-div">
            <b-card
                img-src="https://www.dpsk12.org/wp-content/uploads/DPS_PrimaryLogo_DPSBlue.png"
                img-alt="Image">
                <b-card-text>
                    <b-form @submit.prevent="onSubmit" @reset.prevent="onReset">
                        <b-form-group
                            label="Email"
                            label-for="input-email">
                            <b-form-input id="input-email"
                                          v-model="form.email"
                                          @input="$v.form.email.$touch()"
                                          :state="$v.form.email.$dirty ? !$v.form.email.$error : null"
                                          placeholder="Email"
                                          trim></b-form-input>
                        </b-form-group>

                        <b-form-group
                            label="Password"
                            label-for="input-password">
                            <b-form-input id="input-password"
                                          v-model="form.password"
                                          @input="$v.form.password.$touch()"
                                          :state="$v.form.password.$dirty ? !$v.form.password.$error : null"
                                          type="password"
                                          placeholder="Password"
                                          trim></b-form-input>
                        </b-form-group>

                        <b-row v-if="this.$page.props.errors" style="padding-left: 1rem; padding-right: 1rem">
                            <div v-for="error in this.$page.props.errors" class="thin-alert">{{ getError(error) }}</div>
                        </b-row>

                        <b-button block :disabled="$v.form.$invalid" type="submit" variant="primary">Login</b-button>
                    </b-form>
                </b-card-text>
            </b-card>
        </div>

    </b-container>
    </body>
</template>
<script>
import {required, email} from 'vuelidate/lib/validators'

export default {
    data() {
        return {
            loading: false,
            form: {
                email: '',
                password: '',
            },
        }
    },
    validations: {
        form: {
            email: {
                required,
                email
            },
            password: {
                required
            }
        }
    },
    methods: {
        onSubmit() {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.$inertia.post('/login', {
                    email: this.form.email,
                    password: this.form.password,
                })
            }
        },
        onReset() {
            this.form.email = '';
            this.form.password = '';
        },
        getError(item) {
            return String(item).replace(['[', ']', '"'], '');
        }
    },
}
</script>
